{% extends 'base.html.twig' %}

{% block body %}

    Hello World!
    {{ app.user.username }}
    {{ app.user.email }}

    {% if app.user.roles[0] is defined %}
        <p>Przypisana rola numer 0 :{{ app.user.roles[0] }}</p>
    {% endif %}

    {% if app.user.roles[1] is defined %}
        <p>Przypisana rola numer 1 :{{ app.user.roles[1] }}</p>
    {% endif %}
    <br>
    <a href="{{ path('fos_user_security_logout') }}">Wyloguj</a>
    <br>

    {% if app.user.roles[0]=="ROLE_ADMIN" %}
        <a href="{{ path('easyadmin') }}">Panel Administracyjny</a>
    {% endif %}


{% endblock %}